@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat center;
    background: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
    
}
#telefone {
    height: 627px;
    width: 311px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    
}
#redes {
    text-align: right;
}
#redes img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    
}
#redes img:hover {
    border: 2px solid rgba(211, 211, 211, 0.096);
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.404);
    transition: transform 1s, border 1s;
}